<header>
  <img src="../../../assets/image/pokeball.png" alt="" />
  <h1>MI POKEDEX</h1>
</header>
<div class="containerGlobal"></div>

<div class="pokemon-Search">
  <div class="containerBuscador">
    <p>Busca un POKÉMON</p>
    <input
      type="text"
      placeholder="Ingresa el ID / Nombre"
      [(ngModel)]="searchQuery"
    />
    <button (click)="searchPokemon()">BUSCAR</button>
  </div>

  <div class="card-pokemon"></div>
  <div *ngIf="pokemonData" class="container-Image">
    <div class="name-pokemon">
      <p>{{ pokemonData.name.toUpperCase() }}</p>
    </div>
    <div class="pokemon-note">
      <p>ID: {{ pokemonData.id }}</p>
      <div class="pokemon-img">
        <img [src]="pokemonData.sprites.front_default" alt="{{ pokemonData.name }}"/>
        <img [src]="pokemonData.sprites.back_default" alt="{{ pokemonData.name }}"/>
      </div>
      <p>Tipo: {{ pokemonData.types[0].type.name.toUpperCase() }}</p>
    </div>
  </div>

  <div *ngIf="error">
    <p>{{ error }}</p>
  </div>

  <div class="container-acordion">
  <mat-accordion>
    <mat-expansion-panel
      (closed)="panelOpenState = false"
      (opened)="panelOpenState = true"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
            <div class="title-box">
          <h1>VER MÁS</h1>
        </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3>Peso: {{ pokemonData.weight }} kg</h3>
      <h3>Altura: {{ pokemonData.height }}</h3>
      <h2>Habilidades</h2>
      <h3>{{ pokemonData.abilities[0].ability.name.toUpperCase() }}</h3>
      <h3>{{ pokemonData.abilities[1].ability.name.toUpperCase() }}</h3>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</div>

<div class="container-pokedex">
  <!-- <h1>MI POKEDEX</h1> -->
</div>
